.git
.gitignore
README.md
.env
.env.example
.DS_Store
*.log
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
htmlcov
.pytest_cache/
.coverage/
snapshots/
*.pkl
!train_embeddings.pkl
!label_encoder.pkl
!svm_model.pkl